@font-face {
    font-family: 'TicTacToe';
    src: url(fonts/The\ Deliver.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: black;
}

header {
    text-align: center;
    padding: 10px;
    background-color: yellowgreen;
    color: black;
    font-weight: bolder;
}

header h1 {
    text-align: center;
    font-size: 50px;
}


main {
    background-color: black;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Name Fields */

.playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.winnerOff {
    display: none;
}

.winnerOn {
    width: 90px;
    height: 71px;
    margin-top: -71px;
    background-image: url(images/crown.svg);
    background-size: 90px;
    background-repeat: no-repeat;
}

.tie {
    width: 80px;
    height: 90px;
    margin-top: -90px;
    background-image: url(images/tie.svg);
    background-size: 80px;
    background-repeat: no-repeat;
}

.playerField {
    width: 300px;
    height: 150px;
    background-color: white;
    color: black;
    font-size: 40px;
    text-align: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.inputName {
    width: 200px;
    height: 50px;
    background-color: aliceblue;
    color: black;
    padding: 15px;
    border-radius: 20px;
    border: none;
    text-align: center;
    border: 1px solid black;
    box-shadow: 0px 0px 10px black;
}

.playerSymbol {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 50px;
    background-color: white;
    border-radius: 15px 15px 25px 25px;
    font-family: 'TicTacToe', sans-serif;
    font-size: 50px;
}

/* Gameboard */

.containerAndRestart {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#container {
    width: 400px;
    height: 400px;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 80px;
}

.inactiveField{
    display: flex;
    background-color: rgba(240, 248, 255, 0.527);
    cursor: pointer;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.527);
    text-align: center;
    font-size: larger;;
    padding: 20px;
    cursor: pointer;
    margin: 2.5px;
    font-family: 'TicTacToe', sans-serif;
    font-size: 65px;
}

.btn {
    width: 180px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    background-color: greenyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.btn:hover {
    background-color: rgb(112, 167, 29);
}

.hide {
    display: none;
}

#start {
    position: absolute;
    top: 250px;
}

#restart {
    margin-top: -60px;
    width: 120px;
    height: 40px;
}


